# fly.toml app configuration file generated for clash-of-clans-fpl on 2025-12-05T10:11:13+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'clash-of-clans-fpl'
primary_region = 'lhr'
kill_signal = 'SIGTERM'

[build]

[deploy]
  release_command = '/app/bin/migrate'

[env]
  PHX_HOST = 'clash-of-clans-fpl.fly.dev'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 1000
    soft_limit = 1000

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
